@model XpandTest6.Models.EmailConfirm

@{
    ViewData["Title"] = "Confirmation of registration";
}

<h2>@ViewData["Title"]</h2>
<p>
    To confirm, follow the link in the letter sent to your email
    <br />
    <a href=@ViewData["Link"]>Link sent to Email for confirmation</a>

</p>