@model XpandTest6.Models.EmailConfirm

@{
    ViewData["Title"] = "Сбросить пароль";
}

<h2>@ViewData["Title"]</h2>
<p>
    Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
    <br />
    <a href=@ViewData["Link"]>Ссилка яка відправлена на Email для скидання паролю</a>
    
</p>